In [4]:
import datetime

import numpy as np
import pandas_datareader.data as web
import yfinance as yfin
from IPython.display import VimeoVideo

yfin.pdr_override()

In [5]:
start = datetime.date(2016, 11, 16)
end = datetime.date.today()

df = web.DataReader(["TLT", "TSLA", "BTC-USD"], start, end)["Adj Close"]

[*********************100%%**********************]  3 of 3 completed

In [6]:
df.head(10)

               BTC-USD         TLT       TSLA
Date
2016-11-16  744.197998  105.431702  12.262000
2016-11-17  740.976990  103.880356  12.577333
2016-11-18  751.585022  103.580406  12.334667
2016-11-19  751.616028         NaN        NaN
2016-11-20  731.026001         NaN        NaN
2016-11-21  739.247986  103.837494  12.301333
2016-11-22  751.346985  103.803246  12.744667
2016-11-23  744.593994  103.400398  12.876000
2016-11-24  740.289001         NaN        NaN
2016-11-25  741.648987  103.554672  13.110000

In [7]:
df.describe()

            BTC-USD          TLT         TSLA
count   2486.000000  1711.000000  1711.000000
mean   18180.864792   120.088423   120.744972
std    16146.275116    17.974892   113.567147
min      731.026001    89.809036    11.931333
25%     6513.827515   105.378834    20.723001
50%    10452.215332   111.385147    51.418667
75%    28042.774414   134.580872   225.128334
max    67566.828125   160.762772   409.970001